{% extends 'base.html' %}
{% block content %}
    <title>About me</title>
    <section class="about" id="about">
        <div class="containera">
            <div class="about_top">
            <div class="about_title-box">
                <div class="about_title">
                <h2>About ME</h2>
                </div>
                <div class="about_text">My name is Zafarbek Narzikulov I am 21 years old I am a student in Tashkent University of Information Technology of Samarkand branch</div>
                </div>
                <div class="about_btn">
                    <a data-fancybox data-src="#modal" href="javascript:;" class="default-btn">
                        Order
                    </a>
                </div>
            </div>
            <div class="about_items">
                <div class="about_item">
                    <img src="/static/images/plov.jpg" style="width: 250px; height: 220px" alt="Plov Samarkand">
                    <div class="about_item-title">
                    Samarkand Plov
                    </div>
                        <div class="about_item-text">
                    Order plov
                    </div>
                    <div class="about_item-btn">
                        <a class="about_item-link" href="#">More</a>
                    <a data-fancybox data-src="#modal" href="javascript:;" class="default-btn">
                        Order
                    </a>
                    </div>
                </div>
                <div class="about_item">
                    <img src="/static/images/plov.jpg" style="width: 250px; height: 220px" alt="Plov Samarkand">
                    <div class="about_item-title">
                    Samarkand Plov
                    </div>
                        <div class="about_item-text">
                    Order plov
                    </div>
                    <div class="about_item-btn">
                        <a class="about_item-link" href="#">More</a>
                    <a data-fancybox data-src="#modal" href="javascript:;" class="default-btn">
                        Order
                        </a>
                    </div>
                </div>
                <div class="about_item">
                    <img src="/static/images/kebab.jpg" style="width: 250px; height: 220px" alt="Samarkand qozon kebab">
                    <div class="about_item-title">
                    Samarkand qozon kebab
                    </div>
                    <div class="about_item-text">
                        Order Samarkand qozon kebab
                    </div>
                    <div class="about_item-btn">
                        <a class="about_item-link" href="#">More</a>
                    <a data-fancybox data-src="#modal" href="javascript:;" class="default-btn">
                        Order
                        </a>
                    </div>
                </div>
                <div class="about_item">
                    <img src="/static/images/tuykabob.jpg" style="width: 250px; height: 220px" alt="Samarkand tuy kabab">
                    <div class="about_item-title">
                        Samarkand tuy kabab
                    </div>
                        <div class="about_item-text">
                    Order Samarkand tuy kabab
                    </div>
                    <div class="about_item-btn">
                        <a class="about_item-link" href="#">More</a>
                    <a data-fancybox data-src="#modal" href="javascript:;" class="default-btn">
                        Order
                        </a>
                    </div>
                </div>
                <div class="about_item">
                    <img src="/static/images/tuykabob.jpg" style="width: 250px; height: 220px" alt="Samarkand tuy kabab">
                    <div class="about_item-title">
                        Samarkand tuy kabab
                    </div>
                        <div class="about_item-text">
                    Order Samarkand tuy kabab
                    </div>
                    <div class="about_item-btn">
                        <a class="about_item-link" href="#">More</a>
                    <a data-fancybox data-src="#modal" href="javascript:;" class="default-btn">
                        Order
                        </a>
                    </div>
                </div>
                <div class="about_item">
                    <img src="/static/images/shurva.jpg" style="width: 250px; height: 220px" alt="Samarkand shurva">
                    <div class="about_item-title">
                        Samarkand shurva
                    </div>
                    <div class="about_item-text">
                        Order Samarkand shurva
                    </div>
                    <div class="about_item-btn">
                        <a class="about_item-link" href="#">More</a>
                    <a data-fancybox data-src="#modal" href="javascript:;" class="default-btn">
                        Order
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

    