{% extends 'base.html' %}
{% block content %}
<title>Home Page</title>
<body>
    <footer id="footer" class="footer">
    <div class="footer_content">
        <div class="footer_container">
            <div class="footer_inner">
        <div class="footer_info">
            <div class="footer_title">
            Zerotouch LLC Company
            </div>
            <div class="footer_text">
            If you decide to create your responsive website,<br> 
            Zerotouch LLC creates a responsive website for you<br>Web Development NarzikulovZafarbek Khurshedovich
            </div>
            <a data-fancybox data-src="#modal" href="javascript:;" class="header_button" href="#">To order a site

            </a>
            <ul class="footer_list">
            <li><a href="tel:998902284161">+998902284161</a></li>
            <li><a href="#">zafarb.narzikulov@gmail.com</a></li>
            <li><a href="#">Samarkand, st Fadeyeva №5</a></li>
            </ul>
        </div>
        <div class="footer_map">
<iframe width="850px" height="320px" float="center" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3072.1860026780946!2d66.9717013!3d39.6455283!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f4d1f2b85d31701%3A0xf69e59c745436864!2sWeb%20Developer%20Zerotouch%20LLC!5e0!3m2!1sru!2s!4v1599067573085!5m2!1sru!2s"  
frameborder="0" style="border:0;" allowfullscreen></iframe>      
                </div>
            </div>
        </div>
    </div>
    <div class="footer_copy">
    <div class="container">
        <div class="copy_text">
        </div>
        </div>
    </div>
    </footer>
    <div id="modal">
        <form method="post">
            <input type="text" placeholder="First name">
            <input type="text" placeholder="Last name">
            <input type="number" placeholder="Telephone">
            <input type="text" placeholder="Address">
            <input type="text" placeholder="Food">
            <input type="submit" value="Send">
        </form>
    </div>
</body>
{% endblock %}